<h1>All Pictures</h1>

<% @all_pictures.each do |pic| %>
 <a href="http://localhost:3000/picture_details/<%= pic.id %>">
  <%= image_tag(pic.source, :width => 200) %></a>
  <p><%= pic.caption %></p>
  <p><a href="http://localhost:3000/picture_details/<%= pic.id %>">Show</a></p>
  <p><a href="http://localhost:3000/edit_picture_form/<%= pic.id %>">Edit</a></p>
  <p><a href="http://localhost:3000/delete_picture/<%= pic.id %>">Destroy</a></p>
<% end %>
