<h1>Picture Details ID# <%= @picture.id %></h1>


<%= image_tag(@picture.source, :width => 200) %>

<p><%= @picture.caption %></p>

<% link_to("Delete this picture", "http://localhost:3000/delete_picture/#{@picture.id}")   %>
<p><a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete this picture</a></p>
<p><a href="http://localhost:3000/all_pictures">Go back to the list of all pictures</a></p>
<p><a href="http://localhost:3000/edit_picture_form/<%= @picture.id %>">Edit this picture</a></p>

