<h1>Picture Details ID# <%= @picture.id %></h1>


<%= image_tag(@picture.source, :width => 200) %>

<p><%= @picture.caption %></p>

<p><%= link_to 'Delete this picture', picture_url(@picture.id)   %></p>
<p><%= link_to 'Go back to the list of all pictures', pictures_url %></p>
<p><%= link_to 'Edit this picture', edit_picture_url(@picture.id) %>"</p>

